<?xml version="1.0"?>
<!--
/**
 * This source file is subject to the MIT License.
 * It is also available through http://opensource.org/licenses/MIT
 *
 * @category  Akhilleus
 * @package   LithiumSoftware_Akhilleus
 * @author    LithiumSoftware <contato@lithiumsoftware.com.br>
 * @copyright 2015 Lithium Software
 * @license   http://opensource.org/licenses/MIT MIT
 */
-->
<config>
    <modules>
        <LithiumSoftware_Akhilleus>
            <version>1.0.5</version>
            <depends>
                <Mage_Shipping/>
            </depends>
        </LithiumSoftware_Akhilleus>
    </modules>
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <volume_altura/>
                        <volume_comprimento/>
                        <volume_largura/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <helpers>
            <akhilleus>
                <class>LithiumSoftware_Akhilleus_Helper</class>
            </akhilleus>
        </helpers>
        <models>
            <akhilleus>
                <class>LithiumSoftware_Akhilleus_Model</class>
                <resourceModel>akhilleus_mysql4</resourceModel>
            </akhilleus>
        </models>
        <resources>
            <akhilleus_setup>
                <setup>
                    <module>LithiumSoftware_Akhilleus</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </akhilleus_setup>
        </resources>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <send_statistics>
                        <type>singleton</type>
                        <class>LithiumSoftware_Akhilleus_Model_Observer</class>
                        <method>SaveShippingResultLog</method>
                    </send_statistics>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
    <default>
        <carriers>
            <akhilleus>
                <active>1</active>
                <model>akhilleus/carrier_akhilleus</model>
                <title>Serviços de Entrega</title>
                <msgprazo>%s - Em média %d dia(s)</msgprazo>
                <!-- VOLUME -->
                <use_default>1</use_default>
                <altura_padrao>2</altura_padrao>
                <comprimento_padrao>16</comprimento_padrao>
                <largura_padrao>11</largura_padrao>
                <altura_sent>2</altura_sent>
                <comprimento_sent>16</comprimento_sent>
                <largura_sent>11</largura_sent>

                <sort_order>0</sort_order>
                <sallowspecific>0</sallowspecific>
                <specificcountry>BR</specificcountry>

                <weight_type>kg</weight_type>

                <url_ws>http://services.lithiumsoftware.com.br/logistics/ShippingQuoteWS.asmx?wsdl</url_ws>
            </akhilleus>
        </carriers>
    </default>
</config> 