<?xml version="1.0"?>
<!--
/**
 * This source file is subject to the MIT License.
 * It is also available through http://opensource.org/licenses/MIT
 *
 * @category  Akhilleus
 * @package   LithiumSoftware_Akhilleus
 * @author    LithiumSoftware <contato@lithiumsoftware.com.br>
 * @copyright 2015 Lithium Software
 * @license   http://opensource.org/licenses/MIT MIT
 */
-->
<config>
    <sections>
        <carriers  translate="label" module="akhilleus">
            <groups>
                <akhilleus translate="label">
                    <label>Frenet - Gateway de fretes</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[ <div style="background: #FFF; border: 1px solid #0091DB;">
                        <div style="padding:10px;float: left;text-align: left; vertical-align:bottom;">
                        <a href="http://www.frenet.com.br" target="_blank">
                        <img src="https://painel.frenet.com.br/Content/images/Frenet_logo_painel.png" style="float: left;" />
                        </a>
                        <b>
                        Para configurar as transportadoras as quais deseja obter cotações de frete, obter usuário e senha de acesso,
                        cadastrar regras de frete, acesse o <a href="https://painel.frenet.com.br" target="_blank">painel administrativo Frenet</a>
                        </div>
                        </b>
                        <div class="clear"></div>
                        </div> ]]>
                    </comment>
                    <model>akhilleus/carrier_akhilleus</model>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <login translate="label">
                            <label>Usuário</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                        <use_default translate="label">
                            <label>Utilizar dimensões padrão</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>O frete será calculado com as dimensões padrão preenchidas a seguir</comment>
                        </use_default>
                        <default_height translate="label">
                            <label>Altura Padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Mínimo de 2 cm.]]></comment>
                        </default_height>
                        <default_length translate="label">
                            <label>Comprimento Padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Mínimo de 16 cm.]]></comment>
                        </default_length>
                        <default_width translate="label">
                            <label>Largura Padrão (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Mínimo de 11 cm.]]></comment>
                        </default_width>
                        <weight_type translate="label">
                            <label>Formato do Peso</label>
                            <frontend_type>select</frontend_type>
                            <source_model>LithiumSoftware_Akhilleus_Model_Source_WeightType</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Formato do peso dos produtos.</comment>
                            <tooltip>O formato do peso irá implicar na maneira como o mesmo é cadastrado no produto, por
                                exemplo, 1 Kg no formato "Kilo" será "1.000", já em "Gramas" será "1000.000".
                            </tooltip>
                        </weight_type>
                        <show_delivery translate="label">
                            <label>Exibir Prazo de Entrega</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_delivery>
                        <msgprazo translate="label">
                            <label>Mensagem que exibe o prazo de entrega</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </msgprazo>
                        <add_delivery_days translate="label">
                            <label>Adicionar ao prazo de entrega (dias)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Adicionará mais dias aos prazos de entrega fornecidos.</comment>
                        </add_delivery_days>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>100</sort_order>
                        </sort_order>
                    </fields>
                </akhilleus>
            </groups>
        </carriers>
    </sections>
</config>
